<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      function fn() {
        console.log(this); //作为纯粹的函数调用 this指向全局window
      }
      const obj = {
        name: "test",
        a() {
          console.log(this.a); //对象方法调用，this指向该方法所属对象obj,打印出来为a方法本身
          setTimeout(function () {
            console.log(this.a); //underfined
            console.log(this); //定时器函数中的this指向window
          }, 1000);
        },
        b() {
          console.log(this); //对象方法调用，指向该方法所属对象obj
          fn();
        },
      };
      obj.a();
      obj.b();
    </script>
  </body>
</html>
