<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>document</title>
</head>
<body>

    <script>



        let arr = [1,2,3]
        let obj = {}
        console.log(arr instanceof Array)

        function judge(a,b){//a  实例对象    b构造函数
            let n1 = a.__proto__
            let n2 = b.prototype
            while (true) {
                if(n1 === null)return false;
                if(n1 === n2)return true;
                n1 = n1.__proto__
            }
        }
        // console.log(judge(arr,Array));
        // console.log(judge(obj,Object));
        console.log(judge(arr,Object));
    </script>
</body>
</html>